
.top {
    top: 500px !important;
    left: 5px !important;
    right: 5px !important;
    height: 100px !important;
    z-index: 2 !important;
}
.left {
    top: 50px !important;
    left: 5px !important;
    width: 20% !important;
    bottom: 39px !important;
    z-index: 1 !important;
    margin-left: 20px !important;

}
.right{
    right: 5px !important;
    bottom: 39px !important;
    padding-left: 5px !important;
    float: right !important;
    margin-right: 20px !important;
}
